
.full{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 85px;
    backdrop-filter: blur(3px);
}


.full table {
    width: 40%;
    border: 2px solid grey;
    border-collapse: collapse;
    color: #fff;
}

td{
    padding: 8px;
    border: 1px solid grey;
}

.Gryffindor:nth-child(even)  {
    background-image: linear-gradient(transparent, #7F0909);
  }

  .Hufflepuff:nth-child(even){
    background-image: linear-gradient(transparent, #000);
  }

  .Ravenclaw:nth-child(even){
    background-image: linear-gradient(transparent, #946B2D);
  }

  .Ravenclaw:nth-child(odd){
    background-image: linear-gradient(transparent, #000A90);
  }

  .Slytherin:nth-child(even){
    background-image: linear-gradient(transparent, #AAAAAA)
  }

  .Slytherin:nth-child(odd){
    background-image: linear-gradient(transparent, #0D6217)
  }

  .Gryffindor:nth-child(odd), .Hufflepuff:nth-child(odd) {
    background-image: linear-gradient(transparent, #FFC500);
  }

  

.label{
    font-weight: bold;
    text-decoration: underline;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    
    
}

.char-logo {
    border-radius: 20px;
    height: 250px;
    width: 30%;
}

.char-banner{
    width: 250px;
    height: 30px;
}